<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- update if required -->
    <add key="targetSiteUrl" value="https://cpt0724.sharepoint.com/" />
    <add key="userName" value="Student@cpt0724.onMicrosoft.com" />
    <add key="password" value="Pa$$word!" />
  </appSettings>
</configuration>